#container{
    flex-shrink:0;
    order: 1;
    margin: 5px;
    background-color: #FFF;
    border: 5px solid #222;
	border-radius: 5px;
	display: grid;
}

.cell{
    padding: 0px;
    margin: 0px;
    background-color:#FFF;
}
